<aside>
    <section class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Navigation</h3>
        </div>
        <div class="panel-body">
            <div class="btn-group-vertical btn-primary">
                <a di-href="#/user/home" class="btn btn-primary">Home</a>
                <a di-href="#/user/ads" class="btn btn-primary">My ads</a>
                <a di-href="#/user/ads/publish" class="btn btn-primary">Publish new ad</a>
                <a di-href="#/user/profile" class="btn btn-primary">Edit profile</a>
            </div>
        </div>
    </section>
    <status-filter ng-if="inMyAds"></status-filter>
</aside>
