<aside>
    <section class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Navigation</h3>
        </div>
        <div class="panel-body">
            <div class="btn-group-vertical btn-primary">
                <a href="#/" class="btn btn-primary">Home</a>
                <a href="#/user/ads" class="btn btn-primary">My ads</a>
                <a href="#/user/ads/new" class="btn btn-primary">Publish new ad</a>
                <a href="#/user/edit" class="btn btn-primary">Edit profile</a>
            </div>
        </div>
    </section>
</aside>
