<header>
    <nav class="navbar navbar-fixed-top navbar-material-lime shadow-z-2" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#/" class="navbar-brand">
                    <img id="logo" src="img/ninjaProfile.png" alt="Logo"/>
                    Ads - {{ title }}
                </a>

                <span ng-if="authentication.isLoggedIn()" class="user-area">
                    <span>{{ authentication.getUserData().username }}</span>
                    <a ng-click="logout()" class="link">Logout</a>
                </span>
            </div>
        </div>
    </nav>
</header>
