<div id="user-ads">
    <div ng-if="ads.numItems>0">
        <pagination total-items="ads.numItems" ng-model="adsParams.startPage"
                    items-per-page="adsParams.pageSize" ng-change="reloadAds()"
                    max-size="9" boundary-links="true" ng-if="ads.numItems>adsParams.pageSize">
        </pagination>

        <div class="loader" ng-hide="ready">
            <div class="spin"></div>
        </div>
        <div class="panel panel-default" ng-repeat="ad in ads.ads">
            <div class="panel-heading">{{ ad.title }}
                <time datetime="{{ ad.date }}">{{ ad.date | date: 'd-MMM-yyyy' }}</time>
            </div>
            <div class="panel-body ad-body">
                <img ng-src="{{ ad.imageDataUrl }}"/>

                <div class="ad-info">
                    <div class="ad-text">
                        {{ ad.text }}
                    </div>
                    <div class="ad-category">
                        <strong>Category:</strong>
                        {{ ad.categoryName }}
                    </div>
                    <div class="ad-town">
                        <strong>Town:</strong>
                        {{ ad.townName }}
                    </div>
                </div>
                <div class="manage-ad">
                    <div class="status">
                        <strong>Status:</strong>
                        {{ ad.status}}
                    </div>
                    <button type="submit" ng-click="deactivate(ad.id)" class="btn btn-primary">Deactivate
                        <div class="ripple-wrapper"></div>
                    </button>
                </div>
            </div>
        </div>

        <pagination total-items="ads.numItems" ng-model="adsParams.startPage"
                    items-per-page="adsParams.pageSize" ng-change="reloadAds()"
                    max-size="9" boundary-links="true" ng-if="ads.numItems>adsParams.pageSize">
        </pagination>
    </div>

    <div ng-if="ads.numItems==0">
        <h2>No ads</h2>
    </div>
</div>
