<ng-include src="'partials/header.html'"></ng-include>

<div class="row">
    <div class="col-sm-3">
        <left-public-sidebar></left-public-sidebar>
    </div>

    <div class="col-sm-8">
        <section class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal" name="form">
                    <fieldset>
                        <legend>Register</legend>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="form-control-wrapper">
                                    <input type="text" class="form-control"
                                           id="inputUsername"
                                           ng-model="user.username" required>
                                    <div class="floating-label">Username</div>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="form-control-wrapper">
                                    <input type="password" class="form-control empty"
                                           id="inputPassword"
                                           ng-model="user.password" required>
                                    <div class="floating-label">Password</div>
                                    <span class="material-input"></span>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-control-wrapper">
                                    <input type="password" class="form-control empty"
                                           id="confirmPassword"
                                           ng-model="user.password_verify" name='confirm_password'
                                           data-password-verify="user.password" required>
                                    <div class="floating-label">Confirm password</div>
                                    <span class="material-input"></span>
                                </div>
                                <small style="color: #f43" ng-show="form.confirm_password.$error.passwordVerify">
                                    Fields are not equal!
                                </small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="form-control-wrapper">
                                    <input type="text" class="form-control empty"
                                           id="inputName"
                                           ng-model="user.name" required>
                                    <div class="floating-label">Name</div>
                                    <span class="material-input"></span>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-control-wrapper">
                                    <input type="email" class="form-control empty"
                                           id="inputEmail"
                                           ng-model="user.email" required>
                                    <div class="floating-label">Email</div>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="form-control-wrapper">
                                    <input type="tel" class="form-control empty"
                                           id="inputPhone"
                                           ng-model="user.phone" required>
                                    <div class="floating-label">Phone</div>
                                    <span class="material-input"></span>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-control-wrapper">
                                    <select class="form-control" id="town"
                                            ng-model="user.townId" required
                                            ng-options="town.id as town.name for town in towns">
                                    </select>
                                    <div class="floating-label">Town</div>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <button type="submit" class="btn btn-primary">Submit
                                    <div class="ripple-wrapper"></div>
                                </button>

                                <a href="#/login" class="btn btn-link">Login here</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </section>
    </div>
</div>
