<aside>
    <section class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Navigation</h3>
        </div>
        <div class="panel-body">
            <div class="btn-group-vertical btn-primary">
                <a href="#/home" class="btn btn-link">Home</a>
            </div>
        </div>
    </section>

    <section class="panel panel-default">
        <section class="panel-body text-center">
            <p class="text-info">To publish a new ad, please loign.</p>

            <a href="#/login" class="btn btn-primary">Login</a>
            <br/>
            <a href="#/register" class="btn btn-primary">Register</a>
        </section>
    </section>
</aside>
