<ng-include src="'partials/header.html'"></ng-include>

<div class="row">
    <div class="col-sm-3">
        <left-public-sidebar></left-public-sidebar>
    </div>

    <div class="col-sm-8">
        <section class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal" name="login-form">
                    <fieldset>
                        <legend>Login</legend>

                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="form-control-wrapper">
                                    <input type="text" class="form-control empty"
                                           id="inputUsername"
                                           ng-model="user.username" required>
                                    <div class="floating-label">Username</div>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="form-control-wrapper">
                                    <input type="password" class="form-control empty"
                                           id="inputPassword"
                                           ng-model="user.password" required>
                                    <div class="floating-label">Password</div>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <button type="submit" class="btn btn-primary">Submit
                                    <div class="ripple-wrapper"></div>
                                </button>

                                <a href="#/register" class="btn btn-link">Register here</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </section>
    </div>
</div>
