<navigation></navigation>

<div class="row">
    <div class="col-sm-3">
        <logged-in-sidebar></logged-in-sidebar>
    </div>

    <div class="col-sm-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>Publish New Ad</h2>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <div class="form-control-wrapper">
                            <input type="text" class="form-control"
                                   id="title"
                                   ng-model="adData.title" required>

                            <div class="floating-label">Title</div>
                            <span class="material-input"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <div class="form-control-wrapper">
                        <textarea type="text" class="form-control"
                                  id="text"
                                  ng-model="adData.text" required>
                        </textarea>

                            <div class="floating-label">Text</div>
                            <span class="material-input"></span>
                        </div>
                    </div>
                </div>

                <div>
                    <label for="image">Image:</label>
                    <input type="file" id="image"
                           onchange="angular.element(this).scope().fileSelected(this)"/>

                    <div class="image-box">
                    </div>
                </div>


                <div class="col-sm-6">
                    <div class="form-control-wrapper">
                        <select class="form-control" id="category"
                                ng-model="adData.categoryId" required
                                ng-options="category.id as category.name for category in categories">
                        </select>

                        <div class="floating-label">Category</div>
                        <span class="material-input"></span>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-control-wrapper">
                        <select class="form-control" id="town"
                                ng-model="adData.townId" required
                                ng-options="town.id as town.name for town in towns">
                        </select>

                        <div class="floating-label">Town</div>
                        <span class="material-input"></span>
                    </div>
                </div>

                <p>
                    <a ng-click="publishAd(adData)" class="btn btn-primary">Publish</a>
                    <a href="#/user/ads" class="btn btn-link">Cancel</a>
                <p>
            </div>
        </div>
    </div>
</div>
